@import "tailwindcss";

@theme {
  --color-main-color: #750851;
  --color-white-color: #f8fcfb;
  --color-text-white: #f8f7ff95;
  --color-gray-color: #9f9f9f;
  --color-black-color: #1e201e;
  --color-gray-project: #d4d3d3;
  --color-gray-black: #334155;
  --color-orange-semi-black: #750851;
  --color-orange-semi-white: #750851;
  --color-border-color: #bababa;
}
