---
import Layout from '../layouts/Layout.astro';
import Burble from '../components/Burble.astro'
import Navbar from '../components/Navbar.astro'
import Home from '../components/Home.astro'
---

<Layout title="Jhan Carlos">
	<Burble />
	<Navbar />
	<main>
		<Home />
	</main>
</Layout>


