---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Home from '../components/Home.astro'
import About from '../components/About.astro'
import Projects from '../components/Projects.astro';
import { Image } from 'astro:assets';

import gif from '../assets/bv.gif'
import Contact from '../components/Contact.astro';
---

<Layout title="Jhan Carlos">
	<Navbar />
	<main>
		<Home />
		<About />
		<div class='mx-[5%] lg:mx-[12%] 2xl:mx-[20%] my-10'>
			<Image src={gif} alt='gif' class='rounded-2xl' />
		</div>
		<Projects />
		<Contact />
	</main>
</Layout>


