---
import Layout from '../layouts/Layout.astro';
import Home from '../sections/Home.astro'
import About from '../sections/About.astro'
import Projects from '../sections/Projects.astro';
import Skills from '../sections/Skills.astro';
import Experience from '../sections/Experience.astro';
---

<Layout title="Jhan Carlos">
	<main class="mx-[10%] lg:mx-[20%] 2xl:mx-[25%]">
		<Home />
    <Experience />
		<Projects />
		<About />
		<Skills />
	</main>
</Layout>


