---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Home from '../components/Home.astro'
import About from '../components/About.astro'
import Projects from '../components/Projects.astro';

import Contact from '../components/Contact.astro';
---

<Layout title="Jhan Carlos">
	<Navbar />
	<main>
		<Home />
		<Projects />
		<About />
	</main>
</Layout>


