<section id='About' class=''>
  <h3 class='know-me'>Know about me</h3>
  <p class='about-me'>
    Hi!👋 I am Franki Narvaez, a 19-year-old Fullstack developer from Colombia, with a great passion for technology and software development. I love tackling new challenges and am always looking for opportunities to learn and grow professionally.
  </p>
  <br/>
  <p class='about-me'>
    My experience spans both frontend and backend development, and I'm excited to explore innovative projects that allow me to apply my knowledge and acquire new skills. I'm committed to delivering creative and efficient solutions, and I enjoy collaborating with other developers to achieve exceptional results.
  </p>
  <br/>
  <h3 class='tecnology-i-know'>Here are some technologies i know 💻</h3>
  <h4 class='skills'>Frontend</h4>
  <div class='scroll-container'>
    <a href="https://github.com/FrankiNarvaez">
      <img src="https://skillicons.dev/icons?i=js,html,css,ts,react,nextjs,tailwind,figma,vite" alt="Frontend Tech Stack" />
    </a>
  </div>
  <h4 class='skills'>Backend</h4>
  <div class='scroll-container'>
    <a href="https://github.com/FrankiNarvaez">
      <img src="https://skillicons.dev/icons?i=cpp,c,cs,nodejs,nestjs,express,java" alt="Backend Tech Stack" />
    </a>
  </div>
  <h4 class='skills'>Databases</h4>
  <div class='scroll-container'>
    <a href="https://github.com/FrankiNarvaez">
      <img src="https://skillicons.dev/icons?i=postgres,mysql,sqlite,supabase" alt="Databases Tech Stack" />
    </a>
  </div>
  <h4 class='skills'>Tools</h4>
  <div class='scroll-container'>
    <a href="https://github.com/FrankiNarvaez">
      <img src="https://skillicons.dev/icons?i=github,git,docker,linux,bash,bun,postman,rider,idea,vim,neovim" alt="Tools Tech Stack" />
    </a>
  </div>
  <h4 class='skills'>Cloud & Deployment</h4>
  <div class='scroll-container'>
    <a href="https://github.com/FrankiNarvaez">
      <img src="https://skillicons.dev/icons?i=aws,netlify,vercel" alt="Cloud & Deployment Tech Stack" />
    </a>
  </div>
</section>