---
import { Icon } from 'astro-icon/components'
---

<section id='About' class='mx-[5%] lg:mx-[12%] 2xl:mx-[20%] mt-10'>
  <h3 class='text-main-color text-4xl md:text-6xl font-bold mb-8'>Know about me</h3>
  <p class='text-xl md:text-2xl pb-10'>
    Hi!👋 I am Franki Narvaez, a 19-year-old Fullstack developer from Colombia, with a great passion for technology and software development. I love tackling new challenges and am always looking for opportunities to learn and grow professionally.
  </p>
  <p class='text-xl md:text-2xl pb-10'>
    My experience spans both frontend and backend development, and I'm excited to explore innovative projects that allow me to apply my knowledge and acquire new skills. I'm committed to delivering creative and efficient solutions, and I enjoy collaborating with other developers to achieve exceptional results.
  </p>
  <div class='rounded-2xl p-3 md:p-10 border-4 border-main-color'>
    <h3 class='text-main-color text-2xl md:text-4xl font-bold mb-10 text-center'>Here are some technologies i know 💻</h3>
    <section class='grid h-auto m-auto overflow-hidden relative before:absolute before:top-0 before:left-0 before:md:w-40 before:w-20 before:h-full before:bg-gradient-to-r before:from-white-color before:to-white-color/0 before:contenrt-[""] before:z-10 after:absolute after:top-0 after:right-0 after:md:w-40 after:w-20 after:h-full after:bg-gradient-to-l after:from-white-color after:to-white-color/0 after:contenrt-[""] after:z-10'>
      <div class='flex gap-5 animate-[scroll_40s_linear_infinite] w-[cal(120px * 40)] slider'>
        <Icon name='HTML5' size={100} title='HTML5' />
        <Icon name='CSS3' size={100} title='CSS3' />
        <Icon name='JavaScript' size={100} title='JavaScript' />
        <Icon name='TypeScript' size={100} title='TypeScript' />
        <Icon name='React' size={100} title='React' />
        <Icon name='Nextjs' size={100} title='Nextjs' />
        <Icon name='Tailwind' size={100} title='Tailwind' />
        <Icon name='Nodejs' size={100} title='Nodejs' />
        <Icon name='Express' size={100} title='Express' />
        <Icon name='Nestjs' size={100} title='Nestjs' />
        <Icon name='Postgresql' size={100} title='Postgresql' />
        <Icon name='mysql' size={100} title='Mysql' />
        <Icon name='sqlite' size={100} title='Sqlite' />
        <Icon name='Git' size={100} title='Git' />
        <Icon name='GitHub' size={100} title='GitHub' />
        <Icon name='docker' size={100} title='Docker' />
        <Icon name='linux' size={100} title='Linux' />
        <Icon name='aws' size={100} title='AWS' />
        <Icon name='vercel' size={100} title='Vercel' />
        <Icon name='netlify' size={100} title='Netlify' />
        <Icon name='HTML5' size={100} title='HTML5' />
        <Icon name='CSS3' size={100} title='CSS3' />
        <Icon name='JavaScript' size={100} title='JavaScript' />
        <Icon name='TypeScript' size={100} title='TypeScript' />
        <Icon name='React' size={100} title='React' />
        <Icon name='Nextjs' size={100} title='Nextjs' />
        <Icon name='Tailwind' size={100} title='Tailwind' />
        <Icon name='Nodejs' size={100} title='Nodejs' />
        <Icon name='Express' size={100} title='Express' />
        <Icon name='Nestjs' size={100} title='Nestjs' />
        <Icon name='Postgresql' size={100} title='Postgresql' />
        <Icon name='mysql' size={100} title='Mysql' />
        <Icon name='sqlite' size={100} title='Sqlite' />
        <Icon name='Git' size={100} title='Git' />
        <Icon name='GitHub' size={100} title='GitHub' />
        <Icon name='docker' size={100} title='Docker' />
        <Icon name='linux' size={100} title='Linux' />
        <Icon name='aws' size={100} title='AWS' />
        <Icon name='vercel' size={100} title='Vercel' />
        <Icon name='netlify' size={100} title='Netlify' />
      </div>
    </section>
  </div>
</section>

<style>
  .slider:hover {
    animation-play-state: paused;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-120px * 20));
      transform: translateX(calc(-120px * 20));
    }
  }
</style>