<div class='rounded-full absolute bg-main-color/20 blur-3xl w-72 h-72 right-0 hidden sm:block -z-10'></div>
<div class='rounded-full absolute bg-main-color/20 blur-3xl w-56 h-56 left-4 top-8 lg:w-72 lg:h-72 -z-10'></div>
<div class='rounded-full absolute bg-main-color/20 blur-3xl w-96 h-96 top-[600px] right-[400px] lg:right-[600px] -z-10'></div>
<div class='rounded-full absolute bg-main-color/20 blur-3xl w-64 h-64 right-4 top-[700px] sm:top-[1000px] lg:w-80 lg:h-80 -z-10'></div>
<div class='rounded-full absolute bg-main-color/20 blur-3xl w-48 h-48 left-24 top-[1900px] lg:left-24 lg:w-64 lg:h-64 -z-10'></div>
<div class='rounded-full absolute bg-main-color/20 blur-3xl w-40 h-40 left-8 top-[3200px] lg:w-48 lg:h-48 -z-10'></div>
<div class='rounded-full absolute bg-main-color/20 blur-3xl w-48 h-48 left-16 top-[1000px] lg:w-56 lg:h-56 -z-10'></div>
