---
const id = import.meta.env.PUBLIC_ID_FORMSPREE
---

<section id="Contact" class="mt-7 relative">
  <h2 class="text-5xl text-gray-black font-bold dark:text-text-white">Contact Me</h2>
  <p class="text-gray-black dark:text-text-white my-2">Feel free to reach out by sending me a message below!</p>

  <form action={id} method="POST" class="contact-form md:flex gap-4">
    <div class="w-full">
      <div class="mb-4">
        <label for="name" class="text-gray-black dark:text-text-white">Name</label>
        <input type="text" id="name" name="name" required class="rounded-md border-2 border-gray-black/40 bg-zinc-100 dark:bg-zinc-800 dark:text-white w-full h-10 px-2 mt-2"/>
      </div>

      <div class="mb-4">
        <label for="email" class="text-gray-black dark:text-text-white">Email</label>
        <input type="email" id="email" name="email" required class="rounded-md border-2 border-gray-black/40 bg-zinc-100 dark:bg-zinc-800 dark:text-white w-full h-10 px-2 mt-2"/>
      </div>
    </div>

    <div class="mb-4 md:mb-0 w-full">
      <label for="message" class="text-gray-black dark:text-text-white">Message</label>
      <textarea id="message" name="message" rows="4" required class="rounded-md border-2 border-gray-black/40 bg-zinc-100 dark:bg-zinc-800 dark:text-white w-full h-40 md:h-52 p-2 mt-2"></textarea>
    </div>

    <button type="submit" class="bg-main-color py-2 px-4 text-white hover:bg-main-color/80 rounded-xl md:absolute bottom-3">Send Message</button>
  </form>
</section>

