---
import { Icon } from "astro-icon/components";

import CV from '../assets/JhanCarlosCV.pdf'
import MiniContact from "./MiniContact.astro";
---

<section id='Contact' class='mx-[5%] lg:mx-[12%] 2xl:mx-[20%]'>
  <h3 class='text-main-color text-4xl md:text-6xl font-bold mb-8'>Contact me</h3>
  <p class='text-black-color/80 text-xl'>Feel free to contact me, I will be happy to help you.</p>
  <section class='my-5 flex flex-col gap-5 md:flex-row'>
    <div class='bg-gray-color/10 hover:bg-opacity-100 p-3 sm:p-5 xl:p-10 rounded-xl w-full md:w-1/2'>
      <MiniContact 
        iconName='gmail'
        text='Franki Narvaez'
        href='mailto:frannki03@gmail.com'
        id='gmail'
      />
      <MiniContact 
        iconName='linkedin'
        text='frannki03@gmail.com'
        href='https://www.linkedin.com/in/franki-jhan-carlos-narvaez-munoz-a04bb0319/'
        id='linkedin'
      />
      <MiniContact 
        iconName='GitHub'
        text='FrankiNarvaez'
        href='https://github.com/FrankiNarvaez'
        id='github'
      />
      <MiniContact 
        iconName='whatsapp'
        text='+57 3225350892'
        href='https://wa.me/573225350892'
        id='whatsapp'
      />
      <div class='flex items-center justify-between gap-3 sm:gap-5 py-2'>
        <section class='flex gap-3 sm:gap-5'>
          <Icon name='cv' size={25} />
          <p class='text-base sm:text-lg xl:text-2xl'>Jhan Carlos</p>
        </section>
        <section class='flex gap-3 sm:gap-5'>
          <a href='https://heyzine.com/flip-book/024c320309.html' class='bg-main-color p-1 sm:p-2 rounded-xl hover:bg-main-color/80'>
            <Icon name='send' size={20} />
          </a>
          <a href={CV} download class='bg-main-color p-1 sm:p-2 rounded-xl hover:bg-main-color/80'>
            <Icon name='download' size={20} />
          </a>
        </section>
      </div>
    </div>
    <div class='bg-gray-color/10 hover:bg-opacity-100 p-5 rounded-xl w-full md:w-1/2 flex justify-center items-center text-center text-xl md:text-3xl'>Franki Jhan Carlos Narvaez Muñoz</div>
  </section>
</section>
<script>
  const gmail = document.getElementById('gmail')
  const whatsapp = document.getElementById('whatsapp')
  const github = document.getElementById('github')
  const linkedin = document.getElementById('linkedin')

  gmail?.addEventListener('click', () => {
    navigator.clipboard.writeText('frannki03@gmail.com')
  })
  whatsapp?.addEventListener('click', () => {
    navigator.clipboard.writeText('+573225350892')
  })
  github?.addEventListener('click', () => {
    navigator.clipboard.writeText('FrankiNarvaez')
  })
  linkedin?.addEventListener('click', () => {
    navigator.clipboard.writeText('Franki Jhan Carlos Narvaez Muñoz')
  })
</script>