<section class="mx-[10%] lg:mx-[20%] 2xl:mx-[25%] mb-10 aspect-auto p-2 border border-gray-100 rounded-xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-xl shadow-gray-600/10 dark:shadow-none flex justify-between font-semibold text-gray-black dark:text-text-white">
  <div>Jhan Carlos</div>
  <div>
    <a href="/projects" class="hover:underline mr-2">Projects</a>
    <a href="/#About" class="hover:underline">About me</a>
  </div>
</section>
