<section class="mx-[10%] lg:mx-[20%] 2xl:mx-[25%] mb-10 bg-zinc-100 text-black/60 font-semibold shadow-md px-2 py-3 flex justify-between rounded-xl">
  <div>Jhan Carlos</div>
  <div>
    <a href="/projects" class="hover:underline mr-2">Projects</a>
    <a href="/#About" class="hover:underline">About me</a>
  </div>
</section>
