<main>
  <section class='flex flex-col justify-center font-black px-[6%] sm:px-[10%] xl:px-[15%] 2xl:px-[25%]'>
    <p class='text-main-color text-lg'>HI! MY NAME IS</p>
    <h1 class='name text-black-color text-[5rem]'></h1>
    <h2 class='text-grey-color text-4xl'>A FULL-STACK DEVELOPER</h2>
  </section>
</main>

<style>
  .name:after {
    content: "";
    width: 100%;
    height: 100%;
    line-height: 48px;
    left: 30%;
    top: 50%;
    animation: typingname 3s linear 1;
    animation-fill-mode: forwards;
  }


  @keyframes typingname {
  0% {
    content: "J";
  }
  10% {
    content: "Jh";
  }
  20% {
    content: "Jha";
  }
  30% {
    content: "Jhan";
  }
  40% {
    content: "Jhan ";
  }
  50% {
    content: "Jhan C";
  }
  60% {
    content: "Jhan Ca";
  }
  70% {
    content: "Jhan Car";
  }
  80% {
    content: "Jhan Carl";
  }
  90% {
    content: "Jhan Carlo";
  }
  100% {
    content: "Jhan Carlos";
  }
}



  @media screen and (max-width: 835px) {
    .my-name-is {
      font-size: 1.25rem;
    }
    .name {
      font-size: 3.25rem;
    }
    .ocupation {
      font-size: 1.25rem;
    }
  }
</style>