<section id='Home' class='mt-5 flex px-[5%] lg:px-[15%] justify-center items-center flex-col md:flex-row gap-20 md;gap-40 h-[85vh]'>
  <section class='flex flex-col justify-center font-black'>
    <p class='text-main-color text-lg '>HI! MY NAME IS</p>
    <h1 class='name text-black-color text-[5rem]'></h1>
    <h2 class='text-grey-color text-4xl'>A FULL-STACK DEVELOPER</h2>
  </section>
  <img src='../../public/assets/pc.png' alt='computer' class='w-50 h-56 md:w-90 md:h-96'/>
</section>

<style>
  .name:after {
    content: "";
    width: 100%;
    height: 100%;
    line-height: 48px;
    left: 30%;
    top: 50%;
    animation: typingname 3s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes typingname {
  0% {
    content: "J";
  }
  10% {
    content: "Jh";
  }
  20% {
    content: "Jha";
  }
  30% {
    content: "Jhan";
  }
  40% {
    content: "Jhan ";
  }
  50% {
    content: "Jhan C";
  }
  60% {
    content: "Jhan Ca";
  }
  70% {
    content: "Jhan Car";
  }
  80% {
    content: "Jhan Carl";
  }
  90% {
    content: "Jhan Carlo";
  }
  100% {
    content: "Jhan Carlos";
  }
}
</style>