---
import { Icon } from 'astro-icon/components'
---

<section id='Home' class='flex mx-[10%] lg:mx-[20%] 2xl:mx-[25%] justify-center md:justify-between md:pt-[30vh] pb-[1%] flex-col h-[100vh]'>
    <div class='flex justify-around flex-col'>
      <h1 class='text-gray-black text-5xl font-bold'>Hey, <span class='text-main-color '>i'm Jhan Carlos</span> </h1>
      <h2 class='text-gray-black/70 text-lg font-semibold'>FULL-STACK DEVELOPER</h2>
      <p class="text-gray-black mt-10 text-base"><span class="text-orange-semi-black">Computer science student and web developer</span>, <br> <span class="text-main-color">Specialized in creating robust web solutions</span>.</p>
      <div class="flex gap-4 mt-10 flex-wrap">
        <a 
          href="https://www.linkedin.com/in/franki-jhan-carlos-narvaez-munoz-a04bb0319/" 
          target="_blank" 
          class="border-2 rounded-2xl py-1 px-2 flex gap-2 justify-around items-center border-border-color hover:scale-105 transition-all duration-300"
          >
          <Icon name='linkedin' size={15} class='text-gray-black' /> 
          LinkedIn
        </a>
        <a 
          href="https://github.com/FrankiNarvaez" 
          target="_blank" 
          class="border-2 rounded-2xl p-1 flex gap-2 justify-around items-center  border-border-color hover:scale-105 transition-all duration-300"
          >
          <Icon name='GitHub' size={20} class='text-gray-black' />
          GitHub
        </a>
        <a 
          href="mailto:frannki03@gmail.com"
          class="border-2 rounded-2xl p-1 flex gap-2 justify-around items-center border-border-color hover:scale-105 transition-all duration-300"
          >
          <Icon name='gmail' size={20} class='text-gray-black' />
          frannki03@gmail.com
        </a>
      </div>
    </div>
  <p class="animate-bounce hidden text-main-color text-xl font-bold md:flex justify-center">Projects ↓</p>
</section>
