---
import { Icon } from 'astro-icon/components'
---

<nav class='h-16 backdrop-blur-md flex items-center justify-between px-[5%] lg:px-[12%] 2xl:px-[20%] fixed w-full z-10'>
  <a href="/" class='text-main-color text-3xl text hover:scale-110 font-extrabold'>JC</a>
  <ul class='list-none hidden sm:flex sm:flex-row gap-5 md:gap-14 text-gray-black text-base font-medium'>
    <a href="#Home">
      <li class='hover:underline'>Home</li>  
    </a>
    <a href="#About">
      <li class='hover:underline'>About</li>
    </a>
    <a href="#Projects">
      <li class='hover:underline'>Projects</li>
    </a><a href="#Contact">
      <li class='hover:underline'>Contact</li>
    </a>
  </ul>
  <div class='flex sm:hidden gap-5'>
    <button class='text-gray-black hover:scale-110'>
      <Icon name='menu' size={20} />
    </button>
  </div>
  <div class='hidden sm:flex gap-5'>
    <a href="https://www.linkedin.com/in/franki-jhan-carlos-narvaez-munoz-a04bb0319/" target="_blank">
      <Icon name='linkedin' size={20} class='text-gray-black hover:scale-110 hidden sm:block' />
    </a>
    <a href="https://github.com/FrankiNarvaez" target="_blank">
      <Icon name='GitHub' size={20} class='text-gray-black hover:scale-110 hidden sm:block' />
    </a>
  </div>
</nav>