<nav class='h-20 bg-main-color/70 flex items-center justify-center'>
  <ul class='list-none flex flex-row gap-5 md:gap-14 text-white-color text-lg md:text-2xl'>
    <a href="#Home">
      <li class='hover:underline'>Home</li>  
    </a>
    <a href="#About">
      <li class='hover:underline'>About</li>
    </a>
    <a href="#Projects">
      <li class='hover:underline'>Projects</li>
    </a><a href="#Contact">
      <li class='hover:underline'>Contact</li>
    </a>
  </ul>
</nav>