---
import { Icon } from 'astro-icon/components'
---

<header class="backdrop-blur-md fixed w-full z-30 top-0 left-0" id="main-header">
  <section class="container px-2 lg:max-w-[1114px] flex flex-wrap items-center justify-between mx-auto py-4 ">
    <a class="flex text-main-color gap-2 items-center self-center text-3xl font-black whitespace-nowrap" href="/">
      &lt;JC/&gt;
    </a>
    <div class="hidden md:flex md:order-2 [&>a]:px-2 [&>a]:py-1 md:items-center">
      <a href="https://www.linkedin.com/in/franki-jhan-carlos-narvaez-munoz-a04bb0319/" target="_blank" aria-label="Visit my LinkedId profile">
        <Icon name='linkedin' size={20} class=' text-gray-black dark:text-white-color hover:scale-110 transition-all duration-300'/>
      </a>
      <a href="https://github.com/FrankiNarvaez" target="_blank"  aria-label="Visit my Github profile">
        <Icon name='GitHub' size={20} class='text-gray-black  dark:text-white-color hover:scale-110 transition-all duration-300'/>
      </a>
      <button class="rounded-md hover:scale-110 transition-all duration-300 bg-gray-400/40 p-1 ml-2" title="Theme switcher button">
        <Icon name="light" size={20} class='text-gray-black dark:text-white-color'/>
      </button>
    </div>
    <div class="flex items-center">
      <button class="p-1 rounded-md md:hidden bg-gray-400/40" title="Theme switcher button">
        <Icon name="light" size={20} class='text-gray-black dark:text-white-color'/>
      </button>
      <button class="p-2 text-sm rounded-lg md:hidden" title="Menu nav">
        <Icon name='menu' size={20} class='text-gray-black dark:text-white-color' />
      </button>
    </div>
    <nav class="items-center justify-between w-full md:flex md:w-auto md:order-1 transition-all duration-500 hidden">
      <ul class="flex flex-col items-center font-medium [&>li]:px-3 [&>li]:py-1 md:flex-row md:mt-0 md:border-0 text-gray-black dark:text-white-color dark:font-normal">
        <li><a href="/#Home">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/#About">About me</a></li>
        <li><a href="/#Contact">Contact</a></li>
      </ul>
      <div class="flex justify-center [&>a]:px-4 [&>a]:py-2 md:hidden">
        <a href="https://www.linkedin.com/in/franki-jhan-carlos-narvaez-munoz-a04bb0319/" target="_blank">
          <Icon name='linkedin' size={15} class='text-gray-black dark:text-white-color'/>
        </a>
        <a href="https://github.com/FrankiNarvaez" target="_blank">
          <Icon name='GitHub' size={15} class='text-gray-black dark:text-white-color'/>
        </a>
      </div>
    </nav>
    <div id="menu-backdrop" class="absolute bg-black/10 dark:bg-white/10 rounded translate-x-[var(--left)] translate-y-[var(--top)] left-0 top-0 h-[var(--height)] w-[var(--width)] transition-all duration-500 ease-in-out opacity-0 -z-10"></div>
  </section>
</header>

<script>
  // Modo oscuro
  const themeToggleButtons = document.querySelectorAll('button[title="Theme switcher button"]');

  themeToggleButtons.forEach(button => {
    button.addEventListener('click', () => {
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('theme', 'light');
      } else {
        document.documentElement.classList.add('dark');
        localStorage.setItem('theme', 'dark');
      }
    });
  });

  // Configuración inicial del tema según el localStorage o el sistema
  const currentTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

  if (currentTheme === 'dark') {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }

  // Lógica para el menú, ya existente
  const menuButton = document.querySelector('button[title="Menu nav"]');
  const menuNav = document.querySelector('.items-center.justify-between.w-full.md\\:flex.md\\:w-auto.md\\:order-1.transition-all.duration-500');
  
  if (menuButton && menuNav) {
    menuButton.addEventListener('click', () => {
      menuNav.classList.toggle('hidden');
    });
  }
</script>

<script>
  const $listItems = document.querySelectorAll('#main-header li')
  const $menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement

  $listItems.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect()

      $menuBackDrop.style.setProperty("--left", `${left}px`)
      $menuBackDrop.style.setProperty("--top", `${top}px`)
      $menuBackDrop.style.setProperty("--width", `${width}px`)
      $menuBackDrop.style.setProperty("--height", `${height}px`)

      $menuBackDrop.style.opacity = "1"
      $menuBackDrop.style.visibility = "visible"
    })

    item.addEventListener("mouseleave", () => {
      $menuBackDrop.style.opacity = "0"
      $menuBackDrop.style.visibility = "hidden"
    })
  })
</script>
