---
import Project from "./Project.astro";

import memoryGame from '../assets/preview/memory-game.png'
import imdbPage from '../assets/preview/page-imdb.png'
import apiTMDB from '../assets/preview/api-tmdb.png'
import weatherApp from '../assets/preview/wather-location.png'
---

<section id='Projects' class='mx-[5%] lg:mx-[12%] 2xl:mx-[20%] gap-5 mb-20 grid grid-flow-col overflow-x-auto py-3'>
  <Project 
    image={memoryGame}
    title="Memory" 
    about="Memory game without using JavaScript"
    tecnologies={['HTML5', 'CSS3']}
    github="https://github.com/FrankiNarvaez/Memograma"
    view="https://memory-project-2024.netlify.app/"
  />
  <Project 
    image={imdbPage}
    title="Movies page" 
    about="Page to search for movies and celebrities using the IMDB API and display the information"
    tecnologies={['JavaScript', 'React']}
    github="https://github.com/FrankiNarvaez/IMDB-page"
    view="https://cute-medovik-bab83a.netlify.app/"
  />
  <Project 
    image={apiTMDB}
    title="Api TMDB" 
    about="This API consumes the TMDB API and returns the information in a more organized way"
    tecnologies={['Nodejs', 'Express']}
    github="https://github.com/FrankiNarvaez/API_TMDB"
    view="https://api-tmdb.herokuapp.com/"
  />
  <Project 
    image={weatherApp}
    title="Weather App" 
    about="Memory game without using JavaScript"
    tecnologies={['HTML5', 'CSS3', 'JavaScript']}
    github="https://github.com/FrankiNarvaez/connect-API-with-js.gi"
    view=""
  />
</section>