---
import Project from "./Project.astro";

import socialMedia from '../assets/preview/social-media.png'
import finance from '../assets/preview/finance.png'
import eccomerceRails from '../assets/preview/eccomerce-rails.png'
---

<h3 id='Projects' class='text-gray-black dark:text-text-white text-5xl font-bold mb-8 mt-4'>Projects</h3>
<section>
  <div class="flex flex-col md:flex-row justify-between gap-4">
    <Project
        title='Finance'
        image={finance}
        description='Manage your personal finances.'
        technologies={['Rails', 'PostgreSQL']}
        githubUrl='https://github.com/FrankiNarvaez/Finance'
        liveUrl='http://finance.jhancarlos.me'
        type="FullStack"
        />
    <Project
        title='Eccomerce'
        image={eccomerceRails}
        description='Eccomerce done with Ruby On Rails, where you can create an acount and up your products, and a litte more.'
        technologies={['Rails', 'PostgreSQL']}
        githubUrl='https://github.com/FrankiNarvaez/E-commerce-Rails'
        liveUrl=''
        type="FullStack"
        />
  </div>
  <Project
      title='Social Media'
      image={socialMedia}
      description='Social media where you can upload posts, see posts, follow people, and more.'
      technologies={['Nextjs', 'Tailwind', 'Nestjs', 'TypeScript', 'PostgreSQL', 'AWS', 'TypeORM']}
      githubUrl='https://github.com/orgs/FullStack-Elite-Bootcamp-IV/repositories'
      liveUrl=''
      type='FullStack'
      rowReverse={true}
  />
  <a href="/projects" class="text-main-color font-bold mt-10 flex justify-center animate-pulse hover:underline hover:animate-none">More projects →</a>
</section>
