---
import Project from "./Project.astro";

import memoryGame from '../assets/preview/memory-game.png'
import imdbPage from '../assets/preview/page-imdb.png'
import apiTMDB from '../assets/preview/api-tmdb.png'
import weatherApp from '../assets/preview/wather-location.png'
import socialMedia from '../assets/preview/social-media.png'
---

<h3 id='Projects' class='text-main-color text-5xl font-bold mb-8 mx-[10%] lg:mx-[20%] 2xl:mx-[30%]'>Projects</h3>
<section></section>