---
import { Icon } from 'astro-icon/components'

interface Props {
  technologie: string;
  color: string;
}

const { technologie, color } = Astro.props;
console.log(color)
---

<div class=`w-20 h-20 bg-[${color}]/60 m-4 flex items-center justify-center rounded-3xl hover:border hover:border-[${color}]`>
  <Icon name={technologie} size={40}/>
</div>