---
import { Icon } from 'astro-icon/components'

interface Props {
  technologie: string;
  color: string;
}

const { technologie, color } = Astro.props;
---

<li 
  class="w-20 h-20 flex items-center justify-center rounded-3xl hover:border"
  style={`background-color: ${color}30; border-color: ${color}`}
  title={technologie}
>
  <Icon name={technologie} size={40}/>
</li>
