---
import Technologie from "./Technologie.astro"

---

<h3 id='Technologies' class='text-main-color text-5xl font-bold mb-8 mx-[10%] lg:mx-[20%] 2xl:mx-[30%] mt-4'>Technologies</h3>
<section class="mx-[10%] lg:mx-[20%] 2xl:mx-[30%]">
  <Technologie technologie='HTML5' color="#E34F26"/>
  <Technologie technologie='CSS3' color="#1572B6"/>
  <Technologie technologie='JavaScript' color="#F7DF1E"/>
  <Technologie technologie='React' color="#61DAFB"/>
  <Technologie technologie='Express' color="#000000"/>
  <Technologie technologie='TypeScript' color="#3178C6"/>
  <Technologie technologie='Tailwind' color="#38B2AC"/>
</section>