---
import Technologie from "./Technologie.astro"

---

<h3 id='Technologies' class='text-gray-black text-5xl font-bold mb-8 mx-[10%] lg:mx-[20%] 2xl:mx-[25%] mt-6'>Technologies</h3>
<ul class="mx-[10%] lg:mx-[20%] 2xl:mx-[25%] flex flex-wrap justify-center gap-6 mb-10">
  <Technologie technologie='HTML5' color="#E34F26"/>
  <Technologie technologie='CSS3' color="#1572B6"/>
  <Technologie technologie='JavaScript' color="#F7DF1E"/>
  <Technologie technologie='React' color="#61DAFB"/>
  <Technologie technologie='Nextjs' color="#000000"/>
  <Technologie technologie='Tailwind' color="#38B2AC"/>
  <Technologie technologie='Rails' color="#CC0000"/>
  <Technologie technologie='Nodejs' color="#339933"/>
  <Technologie technologie='Express' color="#000000"/>
  <Technologie technologie='TypeScript' color="#3178C6"/>
  <Technologie technologie='Nestjs' color="#E0234E"/>
  <Technologie technologie="MySQL" color="#4479A1"/>
  <Technologie technologie='PostgreSQL' color="#336791"/>
  <Technologie technologie='MongoDB' color="#4AA74B"/>
  <Technologie technologie='Linux' color="#FFCC00"/>
  <Technologie technologie='Git' color="#F05032"/>
  <Technologie technologie='GitHub' color="#181717"/>
  <Technologie technologie='Docker' color="#2396ED"/>
  <Technologie technologie='Vercel' color="#000000"/>
  <Technologie technologie='BashShell' color="#2F3A3E"/>
</ul>
