---
import Skill from "../components/Skill.astro"
---

<h3 id='Skills' class='text-gray-black dark:text-text-white text-5xl font-bold mb-8 mt-6'>Skills</h3>
<ul class="flex flex-wrap justify-center gap-6 mb-10">
  <Skill skill='HTML5' color="#E34F26"/>
  <Skill skill='CSS3' color="#6C409B"/>
  <Skill skill='JavaScript' color="#F7DF1E"/>
  <Skill skill='React' color="#61DAFB"/>
  <Skill skill='Nextjs' color="#000000"/>
  <Skill skill='Tailwind' color="#38B2AC"/>
  <Skill skill='Rails' color="#CC0000"/>
  <Skill skill='Nodejs' color="#339933"/>
  <Skill skill='Express' color="#000000"/>
  <Skill skill='TypeScript' color="#3178C6"/>
  <Skill skill='Nestjs' color="#E0234E"/>
  <Skill skill="MySQL" color="#4479A1"/>
  <Skill skill='PostgreSQL' color="#336791"/>
  <Skill skill='MongoDB' color="#4AA74B"/>
  <Skill skill='Linux' color="#FFCC00"/>
  <Skill skill='Git' color="#F05032"/>
  <Skill skill='github' color="#181717"/>
  <Skill skill='Docker' color="#2396ED"/>
  <Skill skill='Vercel' color="#000000"/>
  <Skill skill='BashShell' color="#2F3A3E"/>  
  <Skill skill='Laravel' color="#D62C21"/>  
  <Skill skill='PHP' color="#7FA2E1"/>  
  <Skill skill='Vue' color="#3DAD7B"/>  
</ul>
