---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { ChevronLeft } from '@lucide/astro';

export async function getStaticPaths() {
  const langs = ['es', 'en', 'fr'];
  return langs.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;

const entries = await getCollection('cv');
const entry = entries.find((e: any) => e.slug === lang);

if (!entry) {
  throw new Error(`Currículum no encontrado para idioma: ${lang}`);
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <main class="pt-24 mx-[10%] lg:mx-[20%] 2xl:mx-[25%]">
    <a
      href="/#About"
      class="w-44 mb-8 flex items-center gap-2 px-4 py-2 rounded-lg 
            bg-white/50 dark:bg-zinc-800/50 
            border border-white/60 dark:border-zinc-700 
            text-gray-600 dark:text-gray-200 
            hover:bg-white dark:hover:bg-zinc-800 
            hover:text-gray-900 dark:hover:text-white 
            transition-all"
    >
      <ChevronLeft size={20} />
      Go back
    </a>
    <div class="prose prose-lg prose-slate dark:prose-invert
         prose-headings:font-semibold prose-a:text-blue-600 hover:prose-a:text-blue-800
         prose-img:rounded-lg mx-auto max-w-none">
      <Content />
    </div>
  </main>
</Layout>
